.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    margin: -10px;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}


.ul-headers {
    list-style: none;
    display: flex;
    gap: 8px;
}
.ul-headers a {
    text-decoration: none;
    color: grey;
}
.hero {
    margin-right: 30px;
}
.main-text {
    background-color: #1F2937;
    display: flex;
    padding: 100px;
    margin-left: -10px;
    margin-right: -10px;
}
.place-holder {
    background-color: grey;
    padding: 40px;
    padding-left: 40px;
}
.main-text-header {
    font-size: 40px;
    font-weight: bold;
    color: #F9FAF8;
}
.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}
.first-button {
    background-color: #3882F6;
    padding: 10px;
    color: #E5E7EB;
    border-radius: 25px;
    border: none;
}